subscription_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
tenant_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
client_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
client_secret = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
resource_group_name = "sugarfunge-group"
prefix = "sf"
resources = {
    "dev" = {
        name            = "dev"
        version         = 1
        vm_size         = "Standard_B2s"
    }
}
